<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partial/head.ejs'); %>
    <title>Document</title>
</head>

<body>
    <%- include('../partial/header.ejs'); %>

    <%- include('../partial/footer.ejs'); %>
</body>
</html>