<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>

<body>

    <div id="vueApp">
        <h1 > {{nome}} {{cognome}} </h1>
        <!-- id -> ci servirà per dire a View di portarsi li-->

        <!-- form method="get" @submit.prevent="computeFullname()" -> metodo alternativo -->
        <form>
            <label for="">Nome:</label>
            <input type="text" v-model="nome">
            <label for="">Cognome:</label>
            <input type="text" v-model="cognome">
            <input type="button" value="stampa" @click="stampaNome()">
        </form>


    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


    <script>
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    nome: "",
                    cognome: "",
                }

            },
            methods: {
                stampaNome() {
                    this.name = name;
                    this.cognome = cognome;

                }

            }
        }).mount('#vueApp');    
    </script>

</body>

</html>