<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


<body>

    <div id="vueApp">
        <input type="text" v-model="parolaRicerca">


        <ul>
            <li v-for="x in listaFiltrata" > {{x.name}} {{x.surname}}
            </li>
        </ul>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script>
        const { createApp } = Vue;
        createApp({
            data() {
                return {
                    parolaRicerca: "",
                    listaFra: [
                        {
                            name: "Italo",
                            surname: "Salas"
                        },
                        {
                            name: "Danilo",
                            surname: "Annunziata"
                        },
                        {
                            name: "Maxim",
                            surname: "Karlov"
                        },
                        {
                            name: "Giacomo",
                            surname: "Colombo"
                        },
                        {
                            name: "Angelo",
                            surname: "Vecchio"
                        },
                        {
                            name: "Leonardo",
                            surname: "Ricci"
                        },
                        {
                            name: "Devid",
                            surname: "Zaina"
                        },
                        {
                            name: "Yousef",
                            surname: "Baioumy"
                        }
                    ]
                }
            },
            computed: {
                listaFiltrata() {
                    return this.listaFra.filter( (item) => 
                    new RegExp(this.parolaRicerca, "gi").test(item.name) || new RegExp(this.parolaRicerca, "gi").test(item.surname));


                }
            }
        }).mount('#vueApp');    
    </script>
</body>

</html>