<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a
          routerLink="/"
          class="nav-link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a routerLink="/products" class="nav-link" routerLinkActive="active"
          >Products</a
        >
        <a routerLink="/admin" class="nav-link" routerLinkActive="active"
          >Admin</a
        >
        <a routerLink="/login" class="nav-link" routerLinkActive="active"
          >Login</a
        >
        <a routerLink="/carrello" class="nav-link" routerLinkActive="active"
        >Carrello</a
      >
      </div>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
